@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        <h2>Добро пожаловать в AwesomeNetwork</h2>
        <p>Самая клевая социальная сеть для общения с друзьями и знакомыми!</p>
        <p>Присоединяйтесь прямо сейчас и будьте в курсе всех событий.</p>
    </div>


    <div class="main">
        <div class="registration-block">
            <h3>Впервые в AwesomeNetwork?</h3>
            <p>Моментальная регистрация</p>
            <!-- Здесь будет форма регистрации с использованием RegisterViewModel -->
        </div>

        <div class="login-block">
            <h3>Вход в AwesomeNetwork</h3>
            <!-- Здесь будет форма авторизации с использованием LoginViewModel -->
        </div>
    </div>

</div>