@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        <h2>Добро пожаловать в AwesomeNetwork</h2>
        <p>Самая клевая социальная сеть для общения с друзьями и знакомыми!</p>
        <p>Присоединяйтесь прямо сейчас и будьте в курсе всех событий.</p>
    </div>


    <div class="main">
        <partial name="Register" />
        <partial name="Login" />
    </div>

</div>