@model Module35.ViewModels.LoginViewModel

<h3>Вход в CosmoBazar</h3>
<form method="post" asp-controller="AccountManager" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group mb-3">
        <input asp-for="Email" class="form-control" placeholder="Введите email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="Введите пароль" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-3">
        <div class="form-check custom-checkbox">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="rememberMe" />
            <label asp-for="RememberMe" class="form-check-label" for="rememberMe">Запомнить меня</label>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </div>
</form> 